*{
    color: #f6f6f6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.logo{
    width: 10%;
    height: auto;

}

.faixa{
    width:100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.foodimg{
 height: 600px;
 width: auto;
}

.button{
   background-color: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: #111928;
  cursor: pointer;
  outline: none;
}

body{
    background-color: #111928;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

header, img, p,ul, button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}